@import "tailwindcss";

@theme inline {
  --color-dark: #0B0B0B;

  --color-gray-300: #7D8184;
  --color-gray-400: #363738;

  /* --color-text-1: #FAFAFA;
  --color-text-2: #7D8184;
  --color-text: #D37643;
  --color-text-3: #D37643; */

  --color-btn-1: #00FF66;
  --color-btn-2: #DB4444;
  --color-btn-3: #E07575;
  --color-btn-4: #A0BCE0;
}

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}